<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>

    <h2>Welcome to the "Pig Latinizer!"</h2>

    <form action="/piglatinize" method="post">
      <p>Enter your phrase: <input type="text" name="user_phrase" value=""></p>
      <input type="submit" name="submit" value="Submit">
      <button type="reset" value="Reset">Delete</button>
      <!--<button onclick="document.getElementById('myInput').value = ''">Clear input field</button>-->
    </form>

  </body>
</html>